/*
 * ---------------------------------
 * hack
 * ---------------------------------
 */


/* 样式 */
/* --------------------------------- */
.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

.fn {
    float: none !important;
}

.hide {
    display: none !important;
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.text-center {
    text-align: center !important;
}

.margin-center {
    margin-left: auto !important;
    margin-right: auto !important;
}

.width-auto {
    width: auto !important;
}

.height-auto {
    height: auto !important;
}

.ml0 {
    margin-left: 0 !important;
}

.mr0 {
    margin-right: 0 !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}